
<div class="">
       <!-- <h1>Jumbotron heading</h1> -->
       <p class="lead">Thanks for checking out my to-do list application.  Create an account to try it out.</p>
<!--        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
 -->
      <%= link_to 'Create an account', new_user_registration_path, id: "signup-button", class: "btn btn-default"%>
      <%= link_to 'Login', new_user_session_path, remote: false, id: "login-button", class: "btn btn-default"%>
     </div>
     <br>

     <!-- <div class="row marketing">
       <div class="col-lg-6">
         <h4>Overview</h4>
         <p>In this challenge I created a to-do list web application in Rails.  My main goal was to practice building a Ruby on Rails app that was asynchronous.  Once logged in users can create, edit, delete, and reorder their to-do items without reloading the page.  To reorder to-do items click and drag the item.</p>

         <h4>As a user you can</h4>
         <p>
           <ul>
           <li>Sign up</li>
           <li>Log in</li>
           <li>See a list of all your to-dos</li>
           <li>Create new todos</li>
           <li>Edit a todo description</li>
           <li>Delete a todo</li>
           <li>Mark todos as complete or incomplete</li>
           <li>Reorder todos via drag and drop</li>
          </ul>
         </p>

         <h4>Technologies Used in this App</h4>
         <p>
           <ul>
           <li><b>Ruby on Rails</b> as the web application framework</li>
           <li><b>AJAX/ Jquery</b> for an asynchronous user experience</li>
           <li><b>Jquery UI</b> to achive drag and drop reordering of todo items.</li>
           <li><b>Rspec and Faker</b> for integration and controller testing.</li>
           <li><b>Bootstrap</b> for front-end user interface components</li>
          </ul>
         </p>
       </div> -->
     </div>

