
<div class="col-md-2"></div>

<div class="col-md-8">

<!--   <div id="space-under-navbar">
  </div>
 -->
  <!-- login error message -->
  <p>
  <div id="login-error" style="display:none;" ><font color="red">Invalid Username or Password.</font></div>
  </p>


  <p><%= link_to 'Login', new_session_path, remote: false, id: "login-button"%></p>
  <hr>

  <p><%= link_to 'Signup', new_user_path, id: "signup-button"%></p>
  <hr>

  <!-- Login Form -->
  <p>
  <div id="login-form" style="display:none;" ></div>
  </p>

  <!-- Create User Form -->
  <p>
  <div id="user-form" style="display:none;"></div>
  </p>

  <div class="jumbotron">
    <h1>Welcome!</h1>
    <h4>Getting Started</h4>
    <p>Thanks for checking out my to-do list application.  To get started click 'signup'.  No worries.  It's super easy to create an account.  If you already created an account you can log in to view your existing to-do list.</p>
    <h4>About</h4>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

</div>


<div class="col-md-2"></div>









