/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


 /*
 *= require jquery-ui
 */



@import "bootstrap-sprockets";
@import "bootstrap";

/*.navbar-text{
  font-size: 1.5em;
  padding-top: 7px;
}
*/
.navbar{
  height:80px;
  background: #ffffff;
  font-size: 1.5em;
}


#app-title {
color: #25214E;
font-weight: bold;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: #F8F8F8;
}

#navbar-buttons{
  font-size: 0.75em;
  padding-top: 6px;
}

#space-under-navbar{
  padding-top: 90px;
}

#signed-in-text{
  font-size: 1em;
  color: #777777;
  font-style: italic;
}

/*.btn-primary {
  color: white;
  background-color: #324D63;
  border-color: #2e6da4;
}

.btn-success {
  color: #324D63;
  background-color: white;
  border-color: #324D63;
}*/